<div class="page-header">
  <h2>
    ICCA Sites
  </h2>
</div>
<%= comfy_paginate @icca_sites %>
<ul class="list sortable">
  <%= render :partial => 'icca_site', :collection => @icca_sites %>
</ul>
<%= comfy_paginate @icca_sites %>

