<header 
  class="hero-small--article"
  style="background-image: url('<%= image %>')"
>
</header>

<section class="article__content container">
  <%= cms_fragment_render("content") %>
</section>

<!--
<section>
Social share icons
</section>

<section class="container spacer-small--bottom">
  <%#= render "partials/cards/articles" %>
</section>
-->