<% if @cms_page.photos.any? %>
  <% if @cms_page.photos.count < 3 %>
  <div class="gallery__body--active">
    <% @cms_page.photos.each do |photo| %>
      <img class="gallery__photo" src="<%= url_for(photo.file) %>" alt="Photos relevant to the case study" />
    <% end %>
  </div>
  <% else %>
    <div id='v-app' v-cloak>
      <carousel-flickity class="gallery__body">
        <% @cms_page.photos.each do |photo| %>
          <img class="gallery__photo" src="<%= url_for(photo.file) %>" alt="Photos relevant to the case study" />
        <% end %>
      </carousel-flickity>
    </div>
  <% end %>
<% end %>