<% if @cms_page.photos.any? %>
  <div id='v-app'>
    <flickity 
      ref="flickity" 
      class="gallery__body" 
      :options="flickityOptions"
    >
      <% @cms_page.photos.each do |photo| %>
        <img class="gallery__photo" src="<%= url_for(photo.file) %>"/>
      <% end %>
    </flickity>
  </div>
<% end %>
