<h2 class="article__title article__title--smaller">
  <%= @cms_page.label %>, <a class="article__link u-font-inherit" href="<%= cms_page_path(@cms_page.parent) %>"><%= @cms_page.parent.label %></a>
</h2>
