.country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
}

.icca-site {
    @extend .country;
}

.interest-submission {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-error {
    background-color: red;
    color: white;
}

.alert-notice {
    background-color: lightblue;
    color: white;
}