<div class="page-header header-flex">
  <h2>
    Interest submissions
  </h2>
  <a href="<%= download_csv_admin_interest_submissions_path %>" class="btn btn-primary">Download as CSV</a>
</div>
<%= comfy_paginate @interest_submissions %>
<ul class="list sortable">
  <%= render partial: 'interest_submission', collection: @interest_submissions %>
</ul>
<%= comfy_paginate @interest_submissions %>

