<div class="section">
  <h1 class="section__header">ICCA Data Manual</h1>
  <div class="cover-story section__body">
    <div class="cover-story__story">
      <div class="cover-story__story-border"></div>
      <div class="<%= bem('cover-story__story-body', 'left') %>">
        <p class="cover-story__story-content">
          A new manual has been released to support communities, indigenous
          peoples and those who work with them to register their ICCAs. The
          manual describes things to consider before registering, how to
          register, and what to expect afterwards.
        </p>
        <a href="http://wcmc.io/iccadatamanual" class="row big-button">
          <i class="fa fa-download link-with-icon__icon"></i>
          Download the ICCA Data Manual (English)
        </a>
        <a href="http://wcmc.io/iccadatamanual_FR" class="row big-button">
          <i class="fa fa-download link-with-icon__icon"></i>
          Download the ICCA Data Manual (Français)
        </a>
        <a href="http://wcmc.io/iccadatamanual_ESP" class="row big-button">
          <i class="fa fa-download link-with-icon__icon"></i>
          Download the ICCA Data Manual (Español)
        </a>
      </div>
    </div>
    <div class="cover-story__cover home-data-manual-cover"></div>
  </div>
</div>


