<div class="section">
  <h1 class="section__header">Latest case study</h1>
  <div class="section__body article">
    <img class="cover-story__cover cover-story__cover--above" src="http://lorempixel.com/1100/400/nature">
    <p class="article__paragraph col-seven">
      The ICCA Registry website is an
      online information platform for Indigenous and Community Conserved
      Areas, where communities themselves provide data, case studies, maps,
      photos and stories which result in useful statistics and analysis on
      featured ICCAs around the world.
    </p>
    <div class="col-four">
      <h2 class="article__title article__title--paragraph">
        Paruku Indigenous Protected Area
        <a class="u-bold link-with-icon link-with-icon--no-push link-with-icon--inherit u-link-color u-alt-font">Australia</a>
      </h2>
      <a class="big-button u-push-top">Discover the case study</a>
    </div>
  </div>
</div>

