<div class="section">
  <h1 class="section__header">ICCA Toolkit</h1>
  <div class="cover-story section__body">
    <div class="cover-story__story">
      <div class="cover-story__story-border"></div>
      <div class="<%= bem('cover-story__story-body', 'left') %>">
        <p class="cover-story__story-content">
          The ICCA Registry website is an
          online information platform for Indigenous and Community Conserved
          Areas, where communities themselves provide data, case studies, maps,
          photos and stories which result in useful statistics and analysis on
          featured ICCAs around the world.
        </p>
        <a class="big-button">
          <i class="fa fa-download link-with-icon__icon"></i>
          Download the ICCA Toolkit
        </a>
      </div>
    </div>
    <div class="cover-story__cover home-about-cover"></div>
  </div>
</div>


