.container {
  max-width: $large;
  margin: 0 auto;

  &--medium {
    @extend .container;
    max-width: $medium;
    
    // Temporary fix for clearfix which is now obsolete
    &:after {
      clear: none;
      display: none;
    }

  }
}