.container {
  max-width: 1200px;
  margin: 0 auto;

  &--medium {
    @extend .container;
    max-width: 768px;
    
    // Temporary fix for clearfix which is now obsolete
    &:after {
      clear: none;
      display: none;
    }

  }
}