

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0);
  }
}

.banner {
  margin-bottom: .5rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2);
  border-radius: 2px;

  &.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: shake;
  }
}

.modal {
  display: block;
  position: relative;
  z-index: 900;
  left: 50%;
  width: 450px;
  padding: 30px;
  background: #ffffff;
  font-family: 'MuseoSans';
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.333rem;
  margin-left: -225px;
  margin-bottom: 2rem;
  top: 0;
  margin-top: 2rem;

  button {
    width: initial;
    display: inline-block;
  }

  input {
    background-color: white;
    font-size: 14px;
    font-family: 'MuseoSans';
    font-weight: 300;
    border: solid 1px #DFE0E1;
    padding: .625rem;
    width: 100%;
  }

  p {
    margin-top: 0;
  }
}

.o-overlay--with-color {
  background-color: rgba(113, 34, 18, 0.74);
  position: fixed;
  overflow-y: scroll;
}

.form__select {
  font-size: 14px;
  font-family: 'MuseoSans';
  font-weight: 300;
  border: solid 1px #DFE0E1;
  padding: .625rem;
  width: 13rem;
  border-radius: 0;
  background-color: white;
}

.form__select-container {
  position: relative;
  display: inline-block;

  &:after {
    font-family: FontAwesome;
    content: "\f078";
    color: $brown;

    position: absolute;
    top: 0;
    right: 5%;
    line-height: 2.25rem;
    cursor: pointer;
    pointer-events: none;
  }
}
