.hero-small {
  background-size: cover;
  background-position: center;
  padding: rem-calc(30 0 40 0);
  margin-bottom: rem-calc(75);
  height: rem-calc(315);

  &--news-index {
    @extend .hero-small;
    background-image: url('hero_image_news-and-stories.jpg');
    position: relative;
    
    &::before {
      @include overlay;
      background-color: $white;
      content: '';
      opacity: 0.85;
    }

    &__content {
      @include flex;
      @include flex-v-center;
      @include overlay;
      @include text(xlarge);     
    }
    
  }

  &--article {
    @extend .hero-small;
  }


}