.hero {
  &__container {
    margin-bottom: 75px;
  }

  &--small {
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 40px;
    height: 315px;
    position: relative;
    
    &__content {
      @include text(xlarge);     
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $white;
      opacity: 0.85;
    }
  }

}