.home-about-cover {
  height: 340px;

  background-image: asset-url('ICCA_Registry_banner.jpg');
  background-size: cover;
}

.home-toolkit-cover {
  height: 340px;

  background-image: asset-url('ICCA_Toolkit_Banner.jpg');
  background-size: cover;
}

.home-data-manual-cover {
  height: 340px;

  background-image: asset-url('ICCA_Data_Manual_Banner.png');
  background-size: cover;
}

.logos__logo {
  max-width: 10%;
}
