.list {
  &--links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .list {
      &__li {
        @include flex;
        @include flex-v-center;
        @include flex-h-between;
        background-color: $grey-5;
        padding: rem-calc(14 20);
        margin-bottom: rem-calc(13);
      }

      &__a { 
        margin-left: rem-calc(18); 
        
        &--link-external {

        }
      
      }
    }
  }
}