<main class="container--profile container--right-padded">
  <nav class="breadcrumbs">
    {{ cms:partial:cms/case_study/_breadcrumbs }}
  </nav>

  <h1 class="hero__title hero__title--article hero__title--push header-with-delimiter"> Explore Case Studies </h1>
  <article class="article">
    {{ cms:partial:cms/case_study/_title }}

    <div class="row">
      {{ cms:partial:cms/case_study/_gallery }}
    </div>

    <div class="s-article col-eight">
      {{ cms:page:content:rich_text }}
    </div>

    <div class="col-four">
      {{ cms:partial:cms/case_study/_resources }}
    </div>
  </article>
</main>
