<li id="<%= dom_id(country) %>">
  <div class="country">
    <div class="country__name">
      <%= country.iso_3 %>
      <h5><%= country.name %></h3>
    </div>
    <div class="btn-group btn-group-sm">
      <%= link_to t('.edit'), edit_admin_country_path(country), :class => 'btn btn-default' %>
    </div>
  </div>
</li>

