<div class="page-header">
  <h2>
    Countries
  </h2>
</div>
<%= comfy_paginate @countries %>
<ul class="list sortable">
  <%= render :partial => 'country', :collection => @countries %>
</ul>
<%= comfy_paginate @countries %>

