<main class="container--profile container--right-padded container--push-bottom">
  <nav class="breadcrumbs">
    <a class="breadcrumbs__link" href="/">Home</a> > ICCA Countries
  </nav>

  <h1 class="hero__title hero__title--article hero__title--push header-with-delimiter"> Explore Case Studies </h1>
  <article class="article col-nine">
    <h2 class="article__title article__title--smaller"> ICCA Countries </h2>

    <div class="s-article">
      {{ cms:wysiwyg before_the_map }}
    </div>

    {{ cms:partial "cms/explore_map" }}

    <div class="s-article">
      {{ cms:wysiwyg after_the_map }}
    </div>


    {{ cms:partial "cms/countries_and_sites_list" }}
  </article>
</main>
