<li class="nav-item"><a class="nav-link" href="<%= admin_countries_path %>">Countries</a></li>
<li class="nav-item"><a class="nav-link" href="<%= admin_icca_sites_path %>">ICCA Sites</a></li>
<li class="nav-item"><a class="nav-link" href="<%= admin_interest_submissions_path %>">Interest submissions</a></li>
