<li><a href="<%= admin_countries_path %>">Countries</a></li>
<li><a href="<%= admin_icca_sites_path %>">ICCA Sites</a></li>
<li><a href="<%= admin_interest_submissions_path %>">Interest submissions</a></li>
