$white: #ffffff;
$brown: #712212;
$brown--dark: #5f1f0f;
$brown--light: #834031;
$brown--lighter: #e2d3d0;

$max-width--desktop: 1320px;

$navbar__bg-color: $brown;
$navbar-element-dark__bg-color: $brown--dark;
$navbar__bg-color--darker: $brown--dark;
$navbar-element-hover__bg-color: $brown--light;
$navbar-element-active__bg-color: $brown--dark;

$link__color: $brown;
$link__color--hover: $brown--light;
$link__color--pressed: $brown--dark;
$link__color--visited: $brown--light;

$big-button__color: $white;
$big-button__bg-color: $brown;
$big-button__bg-color--hover: $brown--light;
$big-button__bg-color--pressed: $brown--dark;
$big-button__bg-color--visited: $brown--light;
$big-button__bg-color--disabled: $brown--lighter;

$footer-element-with-separator__border-left-color: $brown--dark;

$vertical-nav-element-selected__color: $brown;
$navbar-element-for-search-dropdown-is-active__color: $brown;

$dropdown__bg-color: $brown--dark;
$dropdown-inner__border-top-color: $brown;
$dropdown-trigger-is-selected__bg-color: $brown--dark;
$dropdown-element-hover__bg-color: $brown;

$article-list-index__color: $brown;

$gallery-current-index__bg-color: $brown--dark;
