$white: #ffffff;
$brown: #712212;
$brown--dark: #5f1f0f;
$brown--light: #834031;
$brown--lighter: #e2d3d0;

$max-width--desktop: 1320px;

$navbar__bg-color: $brown;
$navbar-element-dark__bg-color: $brown--dark;
$navbar__bg-color--darker: $brown--dark;
$navbar-element-hover__bg-color: $brown--light;
$navbar-element-active__bg-color: $brown--dark;

$link__color: $brown;
$link__color--hover: $brown--light;
$link__color--pressed: $brown--dark;
$link__color--visited: $brown--light;

$big-button__color: $white;
$big-button__bg-color: $brown;
$big-button__bg-color--hover: $brown--light;
$big-button__bg-color--pressed: $brown--dark;
$big-button__bg-color--visited: $brown--light;
$big-button__bg-color--disabled: $brown--lighter;

$footer-element-with-separator__border-left-color: $brown--dark;

$vertical-nav-element-selected__color: $brown;
$navbar-element-for-search-dropdown-is-active__color: $brown;

$dropdown__bg-color: $brown--dark;
$dropdown-inner__border-top-color: $brown;
$dropdown-trigger-is-selected__bg-color: $brown--dark;
$dropdown-element-hover__bg-color: $brown;

$article-list-index__color: $brown;

$gallery-current-index__bg-color: $brown--dark;

$search-result-title__color: $brown;


.modal {
  display: block;
  position: relative;
  z-index: 900;
  left: 50%;
  width: 450px;
  padding: 30px;
  background: #ffffff;
  font-family: 'MuseoSans';
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.333rem;
  margin-left: -225px;
  margin-bottom: 2rem;
  top: 0;
  margin-top: 2rem;

  button {
    width: initial;
    display: inline-block;
  }

  input {
    background-color: white;
    font-size: 14px;
    font-family: 'MuseoSans';
    font-weight: 300;
    border: solid 1px #DFE0E1;
    padding: .625rem;
    width: 100%;
  }

  p {
    margin-top: 0;
  }
}

.o-overlay--with-color {
  background-color: rgba(113, 34, 18, 0.74);
  position: fixed;
  overflow-y: scroll;
}

.form__select {
  font-size: 14px;
  font-family: 'MuseoSans';
  font-weight: 300;
  border: solid 1px #DFE0E1;
  padding: .625rem;
  width: 13rem;
  border-radius: 0;
  background-color: white;
}

.form__select-container {
  position: relative;
  display: inline-block;

  &:after {
    font-family: FontAwesome;
    content: "\f078";
    color: $brown;

    position: absolute;
    top: 0;
    right: 5%;
    line-height: 2.25rem;
    cursor: pointer;
    pointer-events: none;
  }
}


