.home-data-manual-cover {
  height: 340px;

  background-image: asset-url('ICCA_Data_Manual_Banner_fr.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

